@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hm-container {
  background-color: #f1f1f1;
  padding: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  animation: fade-in 1s;
}
.hm-container .hm-row {
  padding: 0;
  margin: 0;
  height: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  algin-items: center;
}
.hm-container .hm-row .row-label {
  font-weight: bold;
  width: 100px;
  padding-bottom: 0;
  vertical-align: top;
  padding-top: 6px;
}
.hm-container .hm-row .hm-square {
  width: 4%;
}
.hm-container .hm-footer {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
}
.hm-container .hm-footer-spacer {
  display: inline-block;
  height: 25px;
  width: 88px;
}
.hm-container .hm-popup {
  position: absolute;
  z-index: 10;
  height: 26px;
  padding: 6px;
  text-align: center;
  background-color: #f1f1f1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 6px;
}
.gray-square {
  background-color: #333 !important;
}
@media screen and (max-width: 884px) {
  .hm-footer {
    width: 3.4% !important;
    font-size: .8em;
    margin: 0;
  }
  .row-label {
    font-size: .9em !important;
    font-weight: normal !important;
  }
}
.canvas-hm {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #f1f1f1;
  animation: fade-in 1s;
}
