.hm-container {
	background-color: #f1f1f1;
	padding: 16px;
	.BoxShadowHelper(2);
	.animation(fade-in 1s);


	.hm-row {
		padding: 0;
		margin: 0;
		height: 25px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		algin-items: center;

		.row-label {
			font-weight: bold;
			width: 90px;
			padding-bottom: 0;
			vertical-align: top;
			padding-top: 6px;
		}

		.hm-square {
			// width: 30px;
			width: 4%;
			// height: 30px;
		}
	}

	.hm-footer {
		// width: 30px;
		width: 30px;
		height: 30px;
		text-align: center;
		display: inline-block;
		text-align: center;
	}

	.hm-popup {
		position: absolute;
		z-index: 10;
		height: 26px;
		padding: 6px;
		text-align: center;
		background-color: #f1f1f1;
		.BoxShadowHelper(2);
		border-radius: 6px;
	}
}

.gray-square {
	background-color: #333 !important;
}