.hm-container {

	.hm-row {
		padding: 0;
		
		.row-label {
			font-weight: bold;
			width: 60px;
			display: inline-block;
			padding-bottom: 0;
		}

		.hm-square {
			width: 25px;
			height: 25px;
			border: 1px solid black;
			display: inline-block;
		}
	}
}