<div class="hm-container">
	<md-slider-container>
		Severity &nbsp;
		<md-slider ng-model="severity" min="1" max="10" ng-change="filterSeverity()"></md-slider>
	</md-slider-container>
	<div ng-repeat="(key, value) in hmDataSource" class="hm-row">
		<div class="row-label">{{value.rowLabel}}</div>
		<div class="hm-square" value-index="{{index.value}}" ng-repeat="index in value.data" ng-style="{'background-color': index.color}">
		<!-- {{index.color}} -->
		</div>
	</div>
	<div style="width: 90px; height: 25px; display: inline-block;"></div>
	<div class="hm-footer" ng-repeat="label in axisLabels.xAxis">{{label}}</div>
</div>