<div layout-padding class="demo-container" flex>
	<div layout="row" layout-align="center center">
		<h1>Joey's HeatMap Widget</h1>
	</div>
	<div layout="row" layout-align="center center">
		<span style="max-width: 1000px;">
			This heatmap widget was created as a directive. The means the directive can be used in any app with minimal changes.
			Simply pass the directive your axis labels object and data object and the rest is taken care of.
		</span>
	</div>
	<div layout="row" layout-align="center center">
		<div layout="column" layout-align="center center">
			<p>This widget was made using the provided data.</p>
			<raw-heatmap axis-labels="vm.axisLabels" color-arr="vm.colorArr" hm-data="vm.hmData" options="vm.options"></raw-heatmap>
		</div>
	</div>
	<div layout="row" layout-align="center center">
		<div layout="column" layout-align="center center">
			<p>
				This widget was made with randomized data using a high multiplier to create hotter results. I also sent a different color set to show that you can now
				send your own colors for added customization.
			</p>
			<raw-heatmap axis-labels="vm.axisLabelsOther" color-arr="vm.altColorArr" hm-data="vm.hmDataOther" options="vm.options"></raw-heatmap>
		</div>
	</div>
	<div layout="row" layout-align="center center">
		<div layout="column" layout-align="center center">
			<p>This is a canvas implementation.</p>
			<p style="font-style: italic;">(clicking on slider works, dragging the handle is still under development)</p>
			<div class="canvas-hm" layout="row" layout-align="center start" flex>
				<canvas range-slider width="850" height="20" style="padding-top: 14px; position: absolute;" min-max="vm.minMax" severity="currentValue"
					options="vm.options">
				</canvas>
				<canvas style="padding-top: 14px;" canvas-heatmap color-arr="vm.colorArr" axis-labels="vm.axisLabels" severity="currentValue" hm-data="vm.hmData" 
					width="850" height="285" options="vm.options">
				</canvas>
			</div>
		</div>
	</div>
	<div layout="row" layout-align="center center">
		<div layout="column" layout-align="center center">
			<p>This is another canvas implementation with different colors, threshold, and number of data points.</p>
			<div class="canvas-hm" layout="row" layout-align="center start" flex>
				<canvas range-slider width="1050" height="20" style="padding-top: 14px; position: absolute;" min-max="vm.minMax" severity="crazyValue"
					options="vm.crazyOptions">
				</canvas>
				<canvas style="padding-top: 14px;" canvas-heatmap color-arr="vm.thirdColorArr" axis-labels="vm.crazyAxis" severity="crazyValue" hm-data="vm.crazyData" 
					width="1050" height="285" options="vm.crazyOptions">
				</canvas>
			</div>
		</div>
	</div>
	<div layout="row" layout-align="center center" ng-if="vm.konami" style="margin-top: 40px;" ng-class="{'fade-in': vm.konami}">
		<img src="app/assets/images/konami.png" ng-show="vm.konami" />
	</div>
</div>