<div layout-padding class="demo-container" flex>
	<div layout="row" layout-align="center center">
		<h1>Joey's HeatMap Widget</h1>
	</div>
	<div layout="row" layout-align="center center">
		<span style="max-width: 1000px;">
			This heatmap widget was created as a directive. The means the directive can be used in any app with minimal changes.
			Simply pass the directive your axis labels object and data object and the rest is taken care of.
		</span>
	</div>
	<div layout="row" layout-align="center center">
		<div layout="column" layout-align="center center">
			<p>This widget was made using the provided data.</p>
			<raw-heatmap axis-labels="vm.axisLabels" color-arr="vm.colorArr" hm-data="vm.hmData"></raw-heatmap>
		</div>
	</div>
	<div layout="row" layout-align="center center">
		<div layout="column" layout-align="center center">
			<p>This widget was made with randomized data using a high multiplier to create hotter results.</p>
			<raw-heatmap axis-labels="vm.axisLabelsOther" color-arr="vm.colorArr" hm-data="vm.hmDataOther"></raw-heatmap>
		</div>
	</div>
	<div layout="row" layout-align="center center">
		<div layout="column" layout-align="center center">
			<p>This is a canvas implementation.</p>
			<div class="canvas-hm" layout="row" layout-align="center start">
				<canvas range-slider width="850" height="20" style="padding-top: 14px; position: absolute;" min-max="vm.minMax" severity="currentValue"></canvas>
				<canvas style="padding-top: 14px;" canvas-heatmap color-arr="vm.colorArr" axis-labels="vm.axisLabels" severity="currentValue" hm-data="vm.hmData" width="850" height="285"></canvas>
			</div>
		</div>
	</div>
</div>